<div class="card card-success">
    <div class="card-header">
        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="green">
            <li  class="nav-item">
                <a class="nav-link active text-bold" data-toggle="tab" href="#manage_order_tab"
                id="manage_order_tab_link" role="tab">Orders</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="manage_order_tab" role="tabpanel">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <table class="table table-bordered table-striped" id="orders_table">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Products</th>
                                    <th>Tracking Number</th>
                                    <th>Order Status</th>
                                    <th>Date Ordered</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each order }}
                                        <tr>
                                        <td scope="row">{{customerId.firstName}} {{customerId.lastName}}</td>
                                        <td>
                                            {{#each products}}
                                                [{{productId.name}} ({{quantity}})], <br>
                                            {{/each}}
                                        </td>
                                        <td>{{trackingNumber}}</td>
                                        <td>{{orderStatus}}</td>
                                        <td>{{createdAt}}</td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm m-1"><i class="fas fa-info fa-sm fa-fw"></i></button> 
                                            <button type="button" class="btn btn-info btn-sm m-1"><i class="fas fa-edit fa-sm fa-fw"></i></button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>